* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.navcontainer{
    max-width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.d_flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: space-between;
}
.justify_content_between {
  justify-content: space-between;
}
.gap-48 {
  gap: 48px;
}
nav {
  width: 100%;
}
.bg_c{
    background-color: orangered;
}
nav li {
  display: inline-block;
}
.pl_24 {
  padding-left: 24px;
}
.p-tb{
    padding: 12px 12px;
}
.position{
    position: sticky;
    top: 0;
}

@media (max-width: 576px) {
  .ul {
    flex-direction: column;
    background-color: khaki;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* gap: 24px;
    transition: linear 0.5s; */
  }
  input[type ="checkbox"]:checked+ul{
    right: 0;
  }
  .menu-btn{
    z-index: 1;
  }
}
@media (min-width: 576px) {
  
  .menu-btn {
    display: none;
  }
}
